<!DOCTYPE html>
<html>
  <head>
    <title>CodeingChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- must set method to get because buttons default to post -->
    <p><%= button_to '+ New Post', {:action => 'new'}, method: :get %>
    <%= yield %>
  </body>
</html>
